streamlit
langchain>=0.1.16
langchain-community>=0.0.29
langchain-core
langchain-ollama
langchain-text-splitters
requests
beautifulsoup4==4.12.3
scikit-learn==1.4.0
numpy==1.26.3
lxml==5.1.0
python-dotenv==1.0.1
pydantic==2.6.4
urllib3==2.2.0